/* Estilos para a página */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.navbar-logo-centered {
  display: flex;
  justify-content: center;
}

.navbar-logo-centered img {
  max-width: 100px; /* Ajuste o tamanho conforme necessário */
  height: auto;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#resultado {
  margin-bottom: 20px;
  font-weight: bold;
}

#info {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  display: none;
}

#info p {
  text-align: left;
  margin-left: 20px;
}